<div class="container">
  <h1>Tasks</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item">
        <%= link_to task.title, task_path(task) %> |
        <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-warning btn-sm' %> |
        <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        <% if task.completed %>
          <i class="fas fa-check-square text-success"></i> <!-- Font Awesome checked square icon -->
        <% else %>
          <i class="far fa-square text-muted"></i> <!-- Font Awesome empty square icon -->
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
